// Theme's Palette
@import("D:/小曌-知识库【2022】/1022-blog/myblog/node_modules/vuepress-theme-jabinblog/styles/palette.styl")

// User's Palette
@import("D:/小曌-知识库【2022】/1022-blog/myblog/.vuepress/styles/palette.styl")